/*Tablette ipad Air*/
@media screen and (max-width: 1000px) {   
    h1 {
        color: #120076;
    }

}
/*Smartphone Iphone 8 test*/

@media screen and (max-width: 500px) {   
    h1 {
        color: #760001;
    }

    header{
        flex-direction: column;
    }

    #filter{
        flex-direction: column;
    }

    #hebergement{
        flex-direction: column;
    }

}


body {
    font-family: 'Raleway';
    font-size: 15px;
    height: auto;
    margin: auto;   
    padding: 0 2em 0 2em;/* Respectivement top pad, right pad, bottom pad, left pad */
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bold;
}

header { /* Dans ce flex il y'a 2 boîtes*/
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 1em 0px;
}

header .logo img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 2em 1em;
    border-top: 2px solid transparent;/* Laisse une ligne transparent en haut de la boite afin de laisser transparaitre la ligne bleu*/
    margin: 0 1em 0 1em;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover {
    border-color: blue;
}


header nav ul li:hover a {
    color: blue;
}

/* La partie research de la page */

#research{
    display: flex;
    border: 1px solid rgb(233, 233, 233) ;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

#research input
{
    border: none;
}

#research button{
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #4e90e6;
}

#research button p{
    color: white;
    font-weight: bold;
    margin: 0;
}

#pin_icon_container{
    display: flex;
    width: 50px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px 0 0 10px;
    justify-content: center;
    align-items: center;
}

/* La partie filtre de la page*/

#filter{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em 0 2em 0;
}

#filter p{
    font-weight: bold;
    font-size: large;
}

#filter .category{
    display: flex;
    align-items: center;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 600px;
    padding-right: 20px;
    margin-left: 20px;
    width: auto;
    height: 50px;
}

#filter .category .round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgb(42, 150, 238);
}

#filter .category p{
    margin-left: 10px;
}

/* La partie info */

#info{
    display: flex;
    align-items: center;
    margin: 1em 0 1em 0;
}

#info .round{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(233, 233, 233) ;
    border-radius: 600px;
    height: 20px;
    width: 20px;
}

#info .round i{
    color: rgb(38, 123, 156);
}

#info p{
    margin:0 10px 0 10px;
}

/* La partie hébergement de la page */

#hebergement{
    display: flex;
    justify-content: space-between;
}

#hebergement section h1 {
    margin: 0;
}

#hebergement section .notation{
    color: blue;
}


#hebergement section #marseille_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    padding: 2em;
    margin: 1em 0 1em 0;
    width: 100%;
    border-radius: 15px;
}

.hebergement-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#marseille_container .hebergement-list .result{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: solid 2px white;
    width: 30%;
    height: 150px;
    margin: 1em 0 1em 0;
}

#marseille_container .hebergement-list .result img {
    border-radius: 10px 10px 0 0;
    margin: 0 0 5px 0;
    height: 60%;
}

#marseille_container .hebergement-list .result p,#marseille_container .hebergement-list .result h1{
    margin: 2px 0 2px 0;
    padding-left: 10px;
    font-size: 10px;
}

#marseille_container .hebergement-list .result .notation{
    padding: 2px 0 0 8px;
}

#marseille_container .hebergement-list .result:nth-child(1), #marseille_container .hebergement-list .result:nth-child(4){
    margin-left: 0;
}

#marseille_container .hebergement-list .result:nth-child(3), #marseille_container .hebergement-list .result:nth-child(6){
    margin-right: 0;
}

#populaire_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: rgb(233, 233, 233);
    padding: 2em;
    margin: 1em 0 1em 2em;
    width: 300px;
    border-radius: 15px;
}

#populaire_container .hebergement-list .result{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    border: solid 2px white;
    width: 275px;
    height: 100px;
    margin: 1em 0 1em 0;
}

#populaire_container .hebergement-list .result img {
    border-radius: 10px 0 0 10px;
    margin: 0 0 5px 0;
    height: 100%;
}

#populaire_container .hebergement-list .result p,#populaire_container .hebergement-list .result h1{
    margin: 2px 0 2px 0;
    padding-left: 10px;
    font-size: 10px;
}

#populaire_container .hebergement-list .result .info{
    display: flex;
    flex-direction: column;
}

#populaire_container .hebergement-list .result .info .notation{
    padding: 50px 0 0px 8px;
}

/* La partie activité de la page */

#activite{
    display: flex;
    justify-content: space-between;
    height: 600px;
}

#activite h1{
    margin: 25px 0 5px 0;
}

#activite .list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 26%;
}

#activite .list .box{
    border-radius: 10px;
    height: 100%;
    margin: 2em 2em 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#activite .list .box:nth-child(2){
    height: 40%;
}

#activite .list .box:nth-child(3){
    height: 50%;
}

#activite .list .box:nth-child(5){
    height: 40%;
}

#activite .list .box:nth-child(6){
    height: 50%;
}

#activite .list .box img{
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

#activite .list .box p{
    margin: 1em 0 0 1em ;
}


/*le bas de la page */

footer { /* Dans le flex de ce footer je vais mettre 3 boîtes */
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 2em;
    margin: 2em -2em;
}

footer .foot{
    width: 33%;
}

footer .foot h1 {
    font-size: 1.1em;
    margin-right: 250px;
}

footer .foot ul {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    list-style-type: none;
    padding: 0;
    margin-top: 2em;
}

footer .foot ul li {
    margin: 10px 0 10px 0;
}

footer .foot ul li a {
    font-size: 1.3em;
    color: #181818;
    text-decoration: none;
}

